* {max-width: 960px}

p{
    font-family: 'Atkinson Hyperlegible';
    max-width: 960px;
    line-height: 1.4;
    font-size: 16px;
}
h1{
    font-family: 'Atkinson Hyperlegible';
 }
 h2{
    font-family: 'Atkinson Hyperlegible';
 }
 h3{
    font-family: 'Atkinson Hyperlegible';
 }
figure{
    padding: 5%;
}
figcaption{
    font-size: 80%;
    font-family: sans-serif;
}